html {
  background-color: cornsilk;
  font-family: Arial, Helvetica, sans-serif;
}

/* todo estilos de las fuentes tipograficas */
.font-family {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: fantasy;
}

.font-size {
  font-size: 32px;
}

.font-weight {
  font-weight: bold;
}

.font-style {
  font-style: italic;
}

.font-variant {
  font-variant: small-caps;
}

.line-height {
  line-height: 2;
}

/** font: font-syle font-variant font-weight font-size / line-height font-family */
/* * es necesario poner una / entre font-size y line-height par que funcione */
.font {
  font: italic small-caps bold 24px / 1.5 monospace;
}

/* todo tipografias externas */
/* *como cagar las tipografias personalizadas 
*font-display
  auto - permite que el navegador utilice el método predeterminado que suele ser block
  block - oculta brevemente el texto hasta que la fuente haya sido descargada por completo
  swap - indica al navegador que utilice la fuente alternativa para mostrar el texto hasta que la fuente personalizada se haya cargado por completo
  fallback - es una mezcla de auto y swap
  optional - ocultará el texto, luego lo cargará con la fuente alternativa y finalmente aplicará la fuente personalizada

 */

@font-face {
  font-family: "Chalet";
  src: url("../assets/Chalet.woff") format("woff");
  font-display: swap;
  /*cuando haya varios origenes
   src: url('../assets/Chalet.woff') format('woff'),
   url(../assets/Cahlet.woff2)format('woff2); */
}

/** En interner puede demorar en cargar la tipografia personalizada, por eso siempre hay que asegurarse de poner una tipografia segura  */

.chalet {
  font-family: "chalet", sans-serif;
  font-size: 2rem;
}

@font-face {
  font-family: "Pecita";
  src: url("../assets/Pecita.woff") format("woff");
  font-display: swap;
}
.pecita {
  font-family: "Pecita", cursive;
  font-size: 2rem;
}

/* todo google fonts */
.raleway {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

/* todo Estilos de Texto */
.text-align {
  text-align: center;
}

.text-decoration {
  text-decoration: line-through;
}

.text-indent {
  text-indent: 1rem;
}

.text-overflow {
  background-color: blanchedalmond;
  border: thin solid black;
  padding: 1rem;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-transform {
  text-transform: capitalize;
}

.letter-spacing {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.white-space {
  white-space: pre;
}

.word-break {
  font-size: 2rem;
  word-break: break-all;
}

.word-spacing {
  font-size: 2rem;
  word-spacing: 1rem;
}

.writing-mode {
  writing-mode: vertical-lr;
}
/* todo icons */
/*  google fonts  */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
