html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* todo ejecto eje y */
.slides {
  width: 100%;
  height: 100vh;
  /* importante para el efecto que tenga esta propiedad con este valor */
  overflow-y: scroll;
  /** con esta propiedad se puede hacer el fecto que menciona jonmircha, esta se tine que poner en el contenedor de las slides */
  /** este tine 2 valores, [eje a controlar] [movimiento] */
  /** el eje inline es el eje x, el eje horizontal
  el eje block es el eje y, el eje vertical
  both es para ambos ejes, x y */
  /* scroll-snap-type:[x | y | inline | block | both] [mandatory | proximity] ; */
  scroll-snap-type: none; /*valor por defecto*/
  scroll-snap-type: block mandatory;
}

.slide {
  width: 100%;
  height: inherit;
  background-color: #1e2345;
  scroll-snap-align: none;
  scroll-snap-align: end;
  scroll-snap-align: start;
  scroll-snap-align: center;
}

.slide:nth-child(even) {
  background-color: #108eb4;
}

.slide-container {
  width: 100%;
  width: 80%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* alinea el eje principal en flex-box */
  justify-content: center;
  /* alinea el eje secundario en fex-box */
  align-items: center;
  font-size: 3vw;
  color: #d9e8f0;
}

/*todo carrusel eje x */

.carousel {
  border: thick solid #d938f0;
  display: flex;
  width: 50%;
  height: 50vh;
  overflow-x: hidden;
}

.carousel-container {
  /* width: 100%; */
  /** display grid genera filas y columnas */
  display: grid;
  /** se generan 5 columnas de 100% de espacio */
  grid-template-columns: repeat(5, 100%);
  /** se pone scroll para el eje X y hidden para el Y, para que el ultimo este oculto
   */
  overflow-x: scroll;
  /* para que no se genere una barra vertical */
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  /*
  scroll-snap-type: inline mandatory;
  scroll-snap-type: both proximity; */
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #108eb4;

  scroll-snap-align: none;
  scroll-snap-align: start;
  scroll-snap-align: end;
  scroll-snap-align: center;
}

.carousel-slide:nth-child(even) {
  background-color: #1e2345;
}

/* todo degradado a los textos */

.gradient-text {
  background-image: linear-gradient(45deg, magenta, yellow);
  /** el fondo se va a adaptar al texto
  **como no esta bien soportado , se va a poner con los prefijos de los navegadores */
  /* internet explorer */
  -ms-background-clip: text;
  /* firefox */
  -moz-background-clip: text;
  /* para los demás */
  -webkit-background-clip: text;
  background-clip: text;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
