/*
?Reglas Css consta de 2 partes:
1) Selector:
    Es el documento HTML al que le podemos aplicar el bloque de declaracion de estilos 
    un selector podria ser cualquier etiqueta HTML, 
2) Bloque de declaraciones:
    Cada uno de los atributos que se va a modificar
    cada atributo va a tener la siguiente sintaxis.
    atributo:valor;
    atributo-de-mas-de-dos-palabras: otro-valor;
    esto va a estar entre llaves {}
 Ejemplo de las 2 partes
*/
/*
mandara a llamar una hoja de estilos dentro de otra.
importente: ES una mala practica usar el @import, porque aon bloqueante a la hora de que el navegador lee esta instruccion
*/

@import url("otra-hoja.css");

html {
  scroll-behavior: smooth;
}

h1 {
  color: orangered;
  background-color: black;
}

/*
todo Selectores basicos
  1)Etiquetas-son elementos HTML
  2)Identificadores- atributo id- #
  3)Clases-atributo class-.
*/
p {
  color: midnightblue;
}

/*Dar estilos con id se considera un antipatron, porque el id es unico */
#parrafo-dos {
  background-color: skyblue;
}

/*dar estilos con clases nos permite reutiizar nuestro codigo CSS*/
.bg-skyeblue {
  background: skyblue;
}

.bg-steelblue {
  background-color: steelblue;
}

.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
}

.text-white {
  color: white;
}
/* todo selectores avanzados  */
/* ? selectores de hijos (directos y descendientes) */
/* selector de hijos directos se usa el ">"*/
.hijos-directos > li {
  background-color: thistle;
}

/* si no te importa en que nivel de ese elemento padre esta el elemento al que le voy a aplicar estilos, entonces usa el espacio en blanco*/
.hijos-descendientes b {
  background-color: thistle;
}
/* ?  selectores Hermanos (en general y adyacente) */
/* Los selectores de hermanos van a aplicar los elementos que son hermanos y que estén por debajo del elemento de referencia */
.hermanos-general ~ li {
  background-color: thistle;
}

/*en este solo aplica al hermano que esta abajo, solo a uno*/
.hermanos-adyacentes + li {
  background-color: thistle;
}

/**iconos de los enlaces*/
.icons {
  width: 40px;
  height: 40px;
}

/*? selectores de atributos */
/* Selectores-atributos, este aplica las etiquetas que tengan un atributo en especifico */
.selectores-atributos a[href] {
  color: orangered;
}

/* esto aplica a las etiquetas que tengan  atributos con cierto valor  */
.selectores-atributos a[target="_blank"] {
  font-weight: bold;
}

/* El comodin del * aplica el estilo si tiene el texto en cuestion en cualquier parte */
.selectores-atributos a[href*="jonmircha"] {
  font-size: 24px;
}

/* El comodin del ^ aplica el estilo siempre y cuando el texto empiecen con la palabra o termino deceado */
.selectores-atributos a[href^="https://"]
{
  text-decoration: none;
}

/* El comodin del $ aplica el estilo si tiene el texto en cuestion al final */
.selectores-atributos a[href$=".com"] {
  background-color: black;
}

/* El comodin del ~ aplica el estilo si tiene el texto en cuestion en una lista separada por espacios */
.selectores-atributos a[class~="cursos"] {
  background-color: midnightblue;
}

/* El comodin del | aplica el estilo si tiene el texto en cuestion en una lista separada por espacios y que despues del texto en cuestion venga un guion medio */
.selectores-atributos a[class|="menu"] {
  font-style: italic;
}

/*? Selector Universal */
/* a todo el documento se le aplicara este estilo */
* {
  font-family: sans-serif;
}

/* a todos los elementos dentro de la class selector_universal se palicaran el stilo puesto  */
.selector_universal * {
  font-size: 24px;
}
/* todo pseudoclases */
/* ? pseudoclases de elementos interactivos */
/**psudoclases- Dan estilos dependiendo del contexto, posicion o estado del elemento
https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-classes
 */

/* los elementos que esten en la clase form-pseudoclases, los elementos que tengan required se aplicara el estilo */
.form-pseudoclases *:required {
  border-color: yellow;
}

/* a los elementos que tengan valido, los vordes esten de color verde */
.form-pseudoclases *:valid {
  border-color: green;
}

/* a los elementos que tenfan invalido, los bordes seran rojos */
.form-pseudoclases *:invalid {
  border-color: red;
}

/* en el recuadro que este seleccionado el fondo sera de color establecido */
.form-pseudoclases *:focus {
  background-color: skyblue;
}

/* a lo que tenga la propiedad disabled, tendra de color rosa */
.form-pseudoclases *:disabled {
  background-color: pink;
}

/*
!importante orden de definicion de las pseudoclases(su jerarquia):
:link
:active
:visited
:hover
*/

/* a los enlaces visatos le apliquemos un color, la clase visited tiene que ir arriva del estado hover */
.menu-pseudoclases a:visited {
  color: olive;
}

/** hover: es aquel estado en el que tenemos el cursor del mouse en el elemento, este estado aplica para cualquier elemento.

**hover es un estado interactivo , por eso tiene que estar al final de las pseudoclases  */

/* esto probocara que al padar el mouse por los enlaces, estos pasen a color anaranjado */
.menu-pseudoclases a:hover {
  color: orange;
}
/* * el estado hover lo tiene cualquier elemento (culaquier etiqueta) */
/* cuadno el parrafo este en estado hover( la flecha del mouse este sobre el parrafo ) este incrementara su tamaño */
.p-pseudoclases:hover {
  font-size: 20px;
}

/* cuando el elemento llamado "temario-css" tenga el target(tenga en la url el id activo) */
#temario-css:target {
  background-color: lightgreen;
}

/* ? pseudoclases por la posicion que que ocupa el elemento dentro de su contenedor */

/* el estilo se va a plicar al primer elemento que tenga el elemento padre y que sea un li*/
.lista-pseudoclases li:first-child {
  color: green;
}

/* lo mismo, pero para el último hijo li  */
.lista-pseudoclases li:last-child {
  color: violet;
}
/* lo mismno pero al numero del hijo que quieras , pasando el número como un argumento */
.lista-pseudoclases li:nth-child(3) {
  color: navy;
}
/* tambien permiten usar expreciones, como siertas formulas, en este de 4 en 4 li se van a plicar el estilo */
.lista-pseudoclases li:nth-child(4n) {
  font-size: 20px;
}
/* lo mismo , estilo negrita */
.lista-pseudoclases li:nth-child(3n + 1) {
  font-weight: bold;
}
/* lo mismo , para elementos pares (even) y impares (odd) */
.lista-pseudoclases li:nth-child(even) {
  background-color: yellow;
}
.lista-pseudoclases li:nth-child(odd) {
  background-color: orangered;
}
/* el primero en su tipo se va aplicar el estilo, ya que si se pone p:first-child, no va aplicar , porque el primer  hijo es el header */
.articulo-pseudoclases p:first-of-type {
  background-color: pink;
}
/* lo mismo pero en ultimo en su tipo */
.articulo-pseudoclases p:last-of-type {
  background-color: violet;
}
/* lo mismo pero al número que pasemos como parametro */
.articulo-pseudoclases p:nth-of-type(3) {
  background-color: fuchsia;
}
/* negacion , aplicar estilo a todos excepto, si quieres agregar mas elementos que no quieras, las vas agregando por comas, not(p,button,.lista,#uno) */
.articulo-pseudoclases *:not(p) {
  background-color: beige;
}

/* todo pseudo elementos */
/* estos van a dar estilos a partes especificas de un elemento , para diferenciar de las clases , en las clases se usan solo ':' *:not(p) en los elementos se usan '::' *::not(p) 
https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-elements*/

/* before , after (antes y despues) */
.saga-geminis::before {
  content: "🤼‍♂️";
}
.saga-geminis::after {
  content: "♊";
}
.saga-precio::before {
  content: "$";
  font-weight: bold;
}
.saga-precio::after {
  content: "USD";
  font-weight: bold;
}
/* referencia a la primera letra */
.p-pseudoelementos::first-letter {
  font-weight: bold;
  font-size: 32px;
}
/* referencia a la primera linea */
.p-pseudoelementos::first-line {
  color: coral;
}
/* cambiar el color al seleccionar */
.p-pseudoelementos::selection {
  color: greenyellow;
  background-color: black;
}
/* estilos al placeholder de un input */
.input-pseudoelementos::placeholder {
  color: green;
}
