/* reseteo del tamaño de caja ,  */
html {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /*el tamaño de la caja comience a contar desde el borde, no desde el contenido*/
  font-size: 20px;
  font-size: 32px;
  font-size: 16px;
}
*,
*::after,
*::before {
  box-sizing: inherit; /*box-sizing heredado*/
}

body {
  background-color: whitesmoke;
}

.informacion {
  background-color: aquamarine;
  border-width: 2px;
  border-style: solid;
  padding: 4px;
  margin: 4px;
}

.informacion h4 {
  color: crimson;
}

/* todo pixeles*/

.pixels {
  background-color: cadetblue;
  width: 500px;
  height: 400px;
  padding: 20px;
  font-size: 16px; /*tamaño por defecto*/
  border: thick solid rebeccapurple;
}

/*todo em*/

.em {
  background-color: cadetblue;
  font-size: 24px;
  padding: 1em 0.5em;
  border: thick solid rebeccapurple;
}

.em-child {
  background-color: salmon;
  font-size: 2em;
  border: thick solid beige;
  margin: 0.5em;
  padding: 1em;
}

/* todo rem */

.rem {
  background-color: cadetblue;
  font-size: 24px;
  padding: 1rem 0.5rem;
  border: thick solid rebeccapurple;
}

.rem-child {
  background-color: salmon;
  font-size: 2rem;
  border: thick solid beige;
  margin: 0.5rem;
  padding: 1rem;
}

/* todo ex */
.ex {
  background-color: cadetblue;
  font-size: 24px;
  padding: 1ex 0.5ex;
  border: thick solid rebeccapurple;
}

.ex-child {
  background-color: salmon;
  font-size: 2ex;
  border: thick solid beige;
  margin: 0.5ex;
  padding: 1ex;
}

/* todo ch */
.ch {
  background-color: cadetblue;
  width: 10ch;
  /* border: thick solid rebeccapurple; */
}

/* todo % */

.percentages {
  background-color: darkkhaki;
  padding: 5%;
  margin: 20% 10%;
  width: 80%;
  font-size: 100%;
  height: 100%;
}

.height-parent {
  background-color: brown;
  width: 500px;
  height: 500px;
}

.height-child {
  background-color: coral;
  width: 50%;
  height: 50%;
}

/* todo viewport Units */

/* ? nota: si se quisiera generar componentes de UI que son a pantalla completa como una heroImage se podria genrar una clase tipo full scream que en el ancho se defina con porcentaje (con esto no se desborda) y el alco con unidades del wiport (vh)*/

.viewport {
  background-color: darkcyan;
  width: 50vw;
  /* si ponemos un ancho al 100, sobresaldra generando una barra de scroll, ya que esto se renderiza en el body, y el body tiene margenes por defecto */
  /* recuerda que las barras de scroll del navegador tambien forman parte del viewport */
  width: 100vw;
  /* width: 100%; */
  height: 50vh;
  height: 100vh;
  /*para que el texto se adapte al ancho de la pantalla*/
  font-size: 5vw;
  /* wh, para left y right y vw para top y bottom */
  padding: 2wh 2vw;
}

.vmax,
.vmin {
  background-color: darksalmon;
  width: 50vmax;
  height: 50vmin;
  border: thick solid cyan;
}
